body {
    height: 150px;
    width: 500px;
    text-align: center;
    background-image: url("bground.jpeg");
}
#on, #off {
    height: 30px;
    width: 50px;
    border-radius: 15px;
    border-radius: 15px;
    font-weight: bolder;
    size: 30px;
    padding: 5px;
}
#on:hover {
    background-color: green;
}
#off:hover {
    background-color: red;
}

#content {
    vertical-align: middle;
}